.sidebar {
  position: sticky;
  top: 7vh;
  height: calc(100vh - 7vh);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s ease;
  width: 15rem;
  z-index: 1;
}

.sidebar::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #f4f8fb;
}

.subSidebar {
  background-color: #ffffff;
  padding-top: 2rem;
}

.toggleButtonDiv {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.logoImage {
  margin-left: 0.25rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  font-family: Ubuntu;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: 0.016rem;
}

.sidebar ul li {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.littleTile {
  color: #b2b2b2;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Ubuntu;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.016rem;
}

.sidebar ul li span {
  position: absolute;
  padding-left: 1.25rem;
}

.sidebar ul li a {
  color: #707070;
  text-decoration: none;
  margin-left: 0.5rem;
}

.sidebar ul li.group2 {
  margin-bottom: 3.75rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.lowerSection {
  padding-bottom: 1.125rem;
  background-color: #fafafa;
}

.buttonSection {
  padding-bottom: 40px;
  align-items: center;
  background-color: #ffffff;
}

.iconMargin {
  margin-right: 0.5rem;
  margin-left: -0.5rem;
}

.filterEffect {
  filter: invert(44%) sepia(88%) saturate(2038%) hue-rotate(173deg)
    brightness(96%) contrast(103%);
  margin-right: 0.5rem;
  margin-left: -0.5rem;
}
