.top-nav {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.125rem solid #ececec;
  z-index: 2;
}

.top-nav a {
  text-decoration: none;
  margin: 0.3rem;
}

.buttons-container {
  text-align: center;
  margin-right: 10px;
}

.login-button, .register-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.logout {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.login-button:hover, .register-button:hover {
  background-color: #0056b3;
}

.usuario {
  color: #000;
  background-color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  margin-right: 10px;
  outline: none;
  border-width: 4px;
}

.contraseña {
  color: #000;
  background-color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  margin-right: 10px;
  outline: none;
  border-width: 4px;
}

.welcome {
  color: #000;
  font-size: 24px;
  margin-right: 25px;
  font-weight: bold;
}

.user-info{
  display: flex;
  align-items: center;
}

.logoImage {
  margin-left: 15px;
}