.top-nav {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.125rem solid #ececec;
  z-index: 2;
}

.top-nav a {
  text-decoration: none;
  margin: 1rem;
}
