.login-component {
  top: 0;
  left: 0;
  padding: 1.875rem;
  margin-left: 15.188rem;
  color: #272936;
  font-family: Ubuntu;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.813rem;
  letter-spacing: 0.016rem;
}
