#dateTimeRangePicker{
    width: 100%;

    input{
        width: 100%;
        padding: 0.5rem;
        box-sizing: border-box;
        border-radius: 0.25rem;
        border: 1px solid #ececec;
        background: #fff;
    }
    .dateTimeRangePicker{
        display : flex;
        flex-direction: column;
        width: 100%;
        .timeDiv{
            display: flex;
            flex-direction: row;
            gap:2rem;
        }
    }


}

